<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票.com</title>
    <link href = "{% static 'morningApp/style.css' %}" rel = "stylesheet" type = "text/css">
</head>
<body>
    <h1 class = "title"><span>投票.com</span></h1>
    <table>
        {% for i in val %}
        <tr>
            <th>{{ i.contents }}</th>
        </tr>

        <tr>
            <td><a href="{% url 'vote_a' i.pk %}">{{ i.choice_a }}</a></td>
            <td><a href="{% url 'vote_b' i.pk %}">{{ i.choice_b }}</a></td>
            <td><a href="{% url 'vote_c' i.pk %}">{{ i.choice_c }}</a></td>
            <td><a href="{% url 'vote_d' i.pk %}">{{ i.choice_d }}</a></td>
        </tr>

        <tr>
            <td>{{ i.per_a }}</td>
            <td>{{ i.per_b }}</td>
            <td>{{ i.per_c }}</td>
            <td>{{ i.per_d }}</td>
        </tr>

        <tr>
            <td>{{ i.total_votes }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>