<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票.com</title>
    <link href = "{% static 'morningApp/style.css' %}" rel = "stylesheet" type = "text/css">
</head>
<body>
    <h1 class = "title"><span>投票.com</span></h1>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">ログアウトする</a>
    <p>こんにちは，{{ user.id }}, {{ user.username }}</p>
    <h2><a href="{% url 'createQ' %}">アンケート作成</a></h2>
    <form action="{% url 'index' %}" method="get">
        <input name="keyword" type="text">
        <button type="submit">検索する</button>
    </form>
    <a href="{% url 'index' %}">新着順</a>
    <a href="{% url 'trend' %}">トレンド順</a>
    <a href="{% url 'popular' %}">人気順</a>
    <table>
        {% for i in page_obj %}
        <tr>
            <th>{{ i.contents }}</th>
        </tr>

        <tr>
            <td><a href="{% url 'vote_a' i.pk %}">{{ i.choice_a }}</a></td>
            <td><a href="{% url 'vote_b' i.pk %}">{{ i.choice_b }}</a></td>
            <td><a href="{% url 'vote_c' i.pk %}">{{ i.choice_c }}</a></td>
            <td><a href="{% url 'vote_d' i.pk %}">{{ i.choice_d }}</a></td>
        </tr>

        <tr>
            <td id="per_a">{{ i.per_a }}%</td>
            <td id="per_b">{{ i.per_b }}%</td>
            <td id="per_c">{{ i.per_c }}%</td>
            <td id="per_d">{{ i.per_d }}%</td>
        </tr>

        <tr>
            <td id="total_votes">投票数：{{ i.total_votes }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}">前</a></li>
                {% else %}
                    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">前</div></li>
                {% endif %}
    
                {% for link_page in page_obj.paginator.page_range %}
                    {% if link_page %}
                        {% if link_page == page_obj.number %}
                            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
                        {% else %}
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.next_page_number }}">次</a></li>
                {% else %}
                    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">次</div></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% else %}
    <a href="{% url 'login' %}">ログイン</a>
    <a href="{% url 'signup' %}">アカウント作成</a>
    {% endif %}
</body>
</html>